@tailwind base;
@tailwind components;
@tailwind utilities;


.box{
    background-color: rgb(255,255,255);
    
    border: 1px solid rgb(218, 216, 216);
    border-radius: 5px;
}
.text{
    font-family: Lato, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}
.para{
    font-family: Lato, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color:  rgb(163, 163, 163);
}
.box2:hover .boxm{
  border: 3px solid rgb(255, 223, 160);
  color:rgb(255, 223, 160) ;
  cursor: pointer;

  
}

.box3:hover .boxms{
  border: 3px solid rgb(170, 253, 220);
  color:rgb(170, 253, 220) ;
  cursor: pointer;

  
}
.box4:hover .boxms1{
  border: 3px solid rgb(255, 187, 187);
  color: rgb(255, 187, 187) ;
  cursor: pointer;

  
}
.box5:hover .boxms2{
  border: 3px solid rgb(168, 185, 255);
  color:rgb(168, 185, 255) ;
  cursor: pointer;

  
}
.box6:hover .boxms3{
  border: 3px solid rgb(135,117,173);
  color:rgb(135,117,173) ;
  cursor: pointer;

  
}